# Should be placed under /etc/systemd/system
[Unit]
Description=Starts script to access Website-API and prints accordingly
After=network-online.target networt.target cups.service

[Service]
# ExecStart=/home/leon/Uni/SWP/printerest-client/client.sh
ExecStart=/usr/bin/python3.5 /home/pi/Desktop/printerest-client/client.py

#[Install]
#WantedBy=multi-user.target
